
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
       font-size: small;  
}

a:link { text-decoration: none; } 
a:hover { text-decoration: underline; } 


body { padding:10px; 
       background-color: #D3D3D3;
       max-width: 700px; 
     }

pre  { padding: 10px; 
  font-family: var(--mono-font);
       background-color: #DCDCDC;
       font-size: small;  
}

code { 
       font-family: var(--mono-font); }
